#netflix-randomizer-toolbar-button {
	list-style-image: URL("chrome://netflixrandomizer/skin/toolbar-off.gif");
}

#netflix-randomizer-toolbar-button-on {
	list-style-image: URL("chrome://netflixrandomizer/skin/toolbar-on.gif");
}

#netflix-randomizer-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.netflix-randomizer-selected {
	outline: 2px solid red !important;
}

#addToPlaylistButton {
	list-style-image:url("down-arrow.png");
}

.currently-playing {
	font-weight:bold;
}

#vbox1 {
	overflow:auto;
	height:	300px;
}



.addList {
    float: left;
    width: 90px;
}

.addVid {
    float: left;
    height: 33px;
    margin-left: 20px;
    padding-top: 7px;
    width: 76px;
    background-color: #B9090B;
    border: 3px solid #FFFFFF;
    color: white;
    text-align: center;
}

.episodeList {
    float: left;
    width: 573px;
}

#episodeColumn ul.episodeList li {
    width: 573px;
}

.addBtn {
    background-color: #ae1d00;
    color: black;
    display: block;
    float: left;
    font-size: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-right: 10px;
    min-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 18px;

    background: url("chrome://netflixrandomizer/skin/addButton.png") no-repeat scroll -2px 0px rgba(0, 0, 0, 0);
}

.addBtn:hover {
    background-position: -26px 0px;
}


.cta-button {
    background: url("http://cdn-0.nflximg.com/en_us/facebook/social_mountain_sprite.png") no-repeat scroll 10px -142px, -moz-linear-gradient(center top , #e5e5e5 0%, #cbcbcb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    clear: left;
    color: #191919;
    cursor: pointer;
    font-size: 116%;
    font-weight: bold;
    padding: 6px 15px 6px 33px;
}

.cta-button:hover {
    background: url("http://cdn-0.nflximg.com/en_us/facebook/social_mountain_sprite.png") no-repeat scroll 10px -142px, -moz-linear-gradient(center top , #ffffff 0%, #e5e5e5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 1px rgba(1, 1, 1, 0.3);
}

.netflix-randomizer-page-button {
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(center bottom , #e7e7e7, #ffffff);
    border: 1px solid #959595;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 #ccc;
    color: #505050 !important;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
    padding: 5px;
    text-align: center;
    width: auto;
}

.netflix-randomizer-page-button:hover {
    box-shadow: none;
}

#displaypage-content {
    margin: 0 auto;
    width: 1000px;
}

#playlistList li span {
    float: left;
    display: block;
    text-align: left;
}
#playlistList, #playlistList li {
    width: 77%;
}
#playlistList .episode-name {
    width: 45%;
}
#playlistList .episode {
    width: 5%;
}
#playlistList .title {
    width: 45%;
}
#playlistList .season {
    width: 5%;
}
